<h1>Basketball Team App Prototype</h1>

<div class="postForm" *ngIf="loggedOut">
  <h3 style="font-weight: bold;">Please Login or Register.</h3>
  <div class="form-group">
    <label for="email">Email:</label><br>
    <input type="text" class="form-control" id="email" name="email"
      [(ngModel)]="emailValue" #email="ngModel"><br><br>
    <label for="password">Password:</label><br>
    <input type="password" class="form-control" id="password" name="password"
      [(ngModel)]="passwordValue"><br>
  </div><br>

  <div>
    <input type="button" value="Login" (click)="login();">
    <input type="button" value="Register" (click)="register();">
  </div>
  </div>

<div *ngIf="loggedIn">

  <input type="button" value="Logout" (click)="logout();"><br><br>

  <div class="postForm">
    <label for="time">Insert Time:</label><br>
    <input type="time" class="form-control" id="time" name="time" [(ngModel)]="timeValue"><br><br>
    <label for="date">Insert Date:</label><br>
    <input type="date" class="form-control" id="date" name="date" [(ngModel)]="dateValue"><br><br>
    <label for="venue">Insert Venue:</label><br>
    <input type="text" class="form-control" id="venue" name="venue" placeholder="Enter a Venue" [(ngModel)]="venueValue"><br><br>
    <input type="button" value="Submit Game" (click)="createGame();">
  </div><br><br>

  <h3>Current/Upcoming Games</h3>
    <div *ngFor="let game of games | async">
      <li *ngIf="checkIfNewGame(game.date)">
        {{game.date}} {{game.time}} at {{game.venue}}
        <input type="button" class="btn btn-primary" value="Delete"
          (click)="deleteGame(game.time, game.date, game.venue);"><br>
      </li>
  </div><br>
  
  <h3>Past Games:</h3>
  <div *ngFor="let game of games | async">
    <li *ngIf="checkIfOldGame(game.date)">
      {{game.date}} {{game.time}} at {{game.venue}}
      <input type="button" class="btn btn-primary" value="Delete"
        (click)="deleteGame(game.time, game.date, game.venue);"><br>
      <app-payment [time]="game.time" [date]="game.date" [venue]="game.venue"></app-payment>
    </li>
  </div><br>
  
</div>



